doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/bulma.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://kit.fontawesome.com/e970ff0ca3.js', crossorigin='anonymous')
    if title
      title= title
    else
      title= "XorData"
  body(class='layout-default')
    block content
    script(src="https://unpkg.com/axios/dist/axios.min.js", crossorigin)
    script(src="https://unpkg.com/react@18/umd/react.development.js", crossorigin)
    script(src="https://unpkg.com/react-dom@18/umd/react-dom.development.js", crossorigin)
    script(src="lib/main.js?v=#{timeout}")
