div(class='card')
    div(class='card-header')
        p(class='card-header-title') Welcome XorData
    div(class='card-content')
        div(class='content') XorData is a prototype service that explores the question of what it means to own your data.  We provide a simple service that allows participants to identify one another and securely exchange documents.